$widget_width: 250px;
$widget_height: 300px;
$widget_padding: 21px;
$gutter: 10px;

$max_columns: 4;

$bg_color: #222222;
$color_1:  #12b0c5;
$color_2:  #61AE24;
$color_3:  #D70060;
$color_4:  #F18D05;

$status_warning: #FF003C;
$status_404: #4b4b4b;

$treis_bg: #12b0c5;
$tmp_bg: #96bf48;
$ssdf_bg: #ec663c;
$conditions_bg: #9c4274;
$signs_bg: #ff9618;
$camera_bg: #00C176;
